body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #663399;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
 
nav a:hover {
    background-color: #9966cc;
}

.section {
    padding: 40px 0;
}

.profile {
    margin-inline: auto;
    margin-bottom: 20px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #663399;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #663399;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9966cc;
}

section#tentang-saya .container {
    display: flex;
    flex-wrap: wrap;
}

section#tentang-saya p {
    max-width: 45ch;
}

@media (max-width: 420px) {
    header .container {
        flex-wrap: wrap;
    }
}
